/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json
yarn.lock

/.tauri
/target
Cargo.lock
node_modules/

dist-js
dist


# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
.aider*
