<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
    <key>NSCameraUsageDescription</key>
	<string>Avatar</string>
	<key>CFBundleURLTypes</key>
    <array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mxsvelte</string>
			</array>
			<key>CFBundleURLName</key>
			<string>mxsvelte</string>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sending voice messages</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need photo library access for saving and uploading images</string>
</dict>
</plist>
